## First Jupiter NoteBook Practice

In [ ]:
import pandas as pd

In [ ]:
#data used for example (store in lists)
states = ["California", "Texas", "Florida", "New York"]
population = [123434432,998878978,123243433,7865676765]
#storing lists within a dictionary
dict_states = {'States': states, 'population':population}
#Creating DataFrame 
df_population = pd.DataFrame.from_dict(dict_states)
df_population

       States  population
0  California   123434432
1       Texas   998878978
2     Florida   123243433
3    New York  7865676765