# Hello World

One of the typical ways to get started with a programming language is printing a simple message. You can write any message, but it's traditional among coders to start with a "Hello World," so let's try it.

Let's print our first message using the print function. The print function prints a message to the screen.

In [1]:
print("Hello, World!")

Hello, World!

Unlike most Python text editors, Jupyter Notebook allows us to print the last object in code cell without specifying the print function.

In [2]:
"Hello World"

'Hello World'

# Data types

Every value in Python is an object. An object has different data types. Let's see the most common data type in Python.

# Integer and Float

Integer (int): Numbers that can be written without a fractional component.

In [3]:
# To check the data type, we can use the type function.
type(1)

int

Float (float): Numbers that contain floating decimal points.

In [4]:
type(2.3)

float

## Math Operators

Just like on Excel, you can perform math operations in Python. Let's see the most common operators used in Python

* Addition: +
* Subtraction: -
* Multiplication: *
* Division: /
* Exponent: **
* Remainder: %
* Integer division: //

In [5]:
1 + 2

3

In [6]:
3 ** 2

9

## Boolean
Boolean (bool): True/False values

In [7]:
print(type(True))
type(False)

<class 'bool'>

bool

## String
String (str): A string represents a series of characters. In Python, anything inside quotes (single quotes or double-quotes) is a string.

In [8]:
type("Hello World")

str

## String Methods
We can apply different functions to strings as we would do in Excel. However in Python we use methods. A method is a function that "belongs to" an object. To call a method we use the "." sign after the object .  Let's see some string methods to change the case of text.

In [9]:
# change case of text
print("Hello World".upper())
print("Hello World".lower())
print("hello world".title())

# count letters
print("hello world".count('l'))
# replace string letters
print("hello world".replace('o', 'u'))

HELLO WORLD
hello world
Hello World
3
hellu wurld

## Variables
Variables helps us store data values. In Python, we often work with data, so variables are useful to manage this data properly. A variable contains a value, which is the information associated with a variable. To assign a value to a variable, we use the =.

Let's create a message that says "I'm learning Python" and store it in a variable called message_1.

In [10]:
# message_1 = "I'm learning Python"
message_1 = "I'm learning Java"

Now, if we want to obtain the message "I'm learning Python" we only have to type the variable name

In [11]:
message_1

"I'm learning Java"

We can create as many variables as we want. Just make sure to assign different names to new variables. Let's create a new message that says "and it's fun!" and store it in a variable called message_2.

In [12]:
# message_2 = "and it's fun!"
message_2 = "and it's boring!"

## String Concatenation
We can put message_1 and message_2 together by using the + operator. This is called string concatenation.

In [13]:
message_1 + message_2

"I'm learning Javaand it's boring!"

We need to add a blank space " "to make the text readable. This time let's also store this new message in a new variable called message

In [14]:
message = message_1 + ' ' + message_2
message

"I'm learning Java and it's boring!"

We can also use another option called f-string. Let's have a look

In [15]:
message = f'{message_1} {message_2}'
message

"I'm learning Java and it's boring!"

## List
In Python, lists are used to store multiple items in a single variable. Lists are ordered and mutable containers. In Python, we call 'mutable' to objects that can change their values. That is, elements within a list can change their value.

To create a list, we have to introduce the elements inside square brackets ([]), separated by commas. Consider the following list named "countries" that contains some of the countries with the largest population around the world.

In [16]:
countries = ['United States', 'India', 'China', 'Brazil']

Keep in mind that lists can have elements of different types and duplicated elements.

## Indexing
By indexing we can obtain a list item or element by its position. Each item in a list has an index (position in the list). Python uses zero-based indexing. That is, the first element ("United States") has an index 0, the second("India") has index 1, and so on.

To access an element by its index we need to use square brackets []. Let's see some examples:

In [17]:
print(countries[0])
print(countries[1])
print(countries[2])
print(countries[3])

United States
India
China
Brazil

There's also negative index that help us get elements starting on the last position of the list, so instead of using indexes from 0 and above, we use indexes from -1 and below.

Let's get the last element of the list but now using a negative index.

In [18]:
print(countries[-1])

Brazil

## Slicing
Slicing means accessing parts of a list. A slice is a subset of list elements. Slice notation takes the form of:

list_name[start:stop]

where "start" represents the index of the first element, and stop represents the element to stop at (without including it in the slice).

Let's see some examples:

In [19]:
print(countries[0:3])
print(countries[1:])
print(countries[:2])

['United States', 'India', 'China']
['India', 'China', 'Brazil']
['United States', 'India']

## List Operations and Methods
There are a lot of things you can do with lists. You can add new elements, remove any element, update values, and so on. In this. section, we will see the most common list operation and methods

### Adding elements to a list
There are different methods that helps us add a new element to a list. Let's have a look.

In [20]:
# append: Adds a new element at the end of a list
countries = ['United States', 'India', 'China', 'Brazil']
countries.append('Canada')
countries

['United States', 'India', 'China', 'Brazil', 'Canada']

In [21]:
# insert: Adds a new element at a specific position
countries = ['United States', 'India', 'China', 'Brazil']
countries.insert(0,'Canada')
countries

['Canada', 'United States', 'India', 'China', 'Brazil']

In [22]:
# joining lists using the + operators
countries_2 = ['UK', 'Germany', 'Austria']
countries + countries_2

['Canada',
 'United States',
 'India',
 'China',
 'Brazil',
 'UK',
 'Germany',
 'Austria']

We can put the list countries and countries_2 inside another list, which is called nested list.

In [23]:
# nested list
nested_list = [countries, countries_2]
nested_list

[['Canada', 'United States', 'India', 'China', 'Brazil'],
 ['UK', 'Germany', 'Austria']]

## Remove an element
There are different methods that helps us remove an element from a list.

In [24]:
countries = ['United States', 'India',
             'China', 'Brazil']
print(countries)

# .remove() Removes the first matching value
countries.remove('United States')
print(countries)
# .pop() Removes an item at an specific index and then returns it.
countries.pop(0)
print(countries)
# del: removes an item at an specific index
del countries[0]
print(countries)

['United States', 'India', 'China', 'Brazil']
['India', 'China', 'Brazil']
['China', 'Brazil']
['Brazil']

## Sorting a list
We can easily sort a list using the .sort() method. Let's create a new list called numbers and then sort it from the smallest to largest number.

In [25]:
numbers = [4, 3, 10, 7, 1, 2]
numbers.sort()
numbers

[1, 2, 3, 4, 7, 10]

We can add the reverse argument to the .sort() method to control the order. If we want it to be descendent we set reverse=True

In [26]:
numbers = [4, 3, 10, 7, 1, 2]
numbers.sort(reverse=True)
numbers

[10, 7, 4, 3, 2, 1]

## Update value on a list
To update a value on a list we use indexing to locate the element we want to update and then set it to a new value using the = sign.

In [27]:
numbers[0] = 1000
numbers

[1000, 7, 4, 3, 2, 1]

## Copying a list
Whenever we need to make a copy of an existing list, we can use the following options:

In [28]:
new_list = countries[:]
print(new_list)
new_list_2 = countries.copy()
print(new_list_2)

['Brazil']
['Brazil']

The [:] comes from the slicing technique we learned before. In this case, we didn't set neither a start nor a stop value, so the entire list is selected. On the other hand, the .copy() method explicitly makes a copy of a list.

## Dictionary
In Python, dictionaries help us store data in key:value pairs (one pair is called an item). Like lists, dictionaries are mutable, but unlike lists, dictionaries are accessed via keys and duplicate keys are not allowed.

In [29]:
my_data = {'name':'Frank', 'age':26}

In [30]:
my_data['name']

'Frank'

In [31]:
my_data.keys()

dict_keys(['name', 'age'])

In [32]:
my_data.values()

dict_values(['Frank', 26])

In [33]:
my_data.items()

dict_items([('name', 'Frank'), ('age', 26)])

## Add/update elements
Similar to lists, we can add and update values in a dictionary. Let's start by adding a new pair key-value that represents my height.

In [34]:
my_data['height']=1.7

In [35]:
my_data

{'name': 'Frank', 'age': 26, 'height': 1.7}

In [36]:
my_data.update({'height':1.8,'languages':['English', 'Spanish']})

In [37]:
my_data

{'name': 'Frank',
 'age': 26,
 'height': 1.8,
 'languages': ['English', 'Spanish']}

## Copy a dictionary
We can use the .copy method to make a copy of a dictionary.

In [38]:
new_dict = my_data.copy()
new_dict

{'name': 'Frank',
 'age': 26,
 'height': 1.8,
 'languages': ['English', 'Spanish']}

## Remove elements

In [39]:
my_data.pop('height')

1.8

In [40]:
my_data

{'name': 'Frank', 'age': 26, 'languages': ['English', 'Spanish']}

In [41]:
del my_data['languages']

In [42]:
my_data

{'name': 'Frank', 'age': 26}

In [43]:
my_data.clear()

In [44]:
my_data

{}

## If Statement
The if statement is one of the most common statements used in Python. It's a conditional statement used to decide whether a statement (or block of statements) will be executed.

In [45]:
age = 18

if age>=18:
    print("You're an adult!")
elif age>=13:
    print("You're a teenager!")
else:
    print("You're a kid")

You're an adult!

We can use the if statement with in keyword to verify if an element is in a list.

In [46]:
countries = ['United States', 'India',
             'China', 'Brazil']

if 'China' in countries:
    print("Country is in list")
else:
    print("Not in list")

Country is in list

## Operators

Comparisson Operators

* Equal to: ==
* Different: !=
* Greater than: >
* Less than: <
* Greater than or equal to: >=
* Less than or equal to: <=
Boolean Operators
* and
* or
* not
## For Loop
The for loop is a frequently used loop in Python. It allows us to loop through an iterable object (e.g., list, dictionaries) and perform the same action to each element.

In [47]:
for country in countries:
    print(country)

United States
India
China
Brazil

In [48]:
for country in countries:
    if country == "United States":
        print(country)

United States

## Enumerating in a for loop
Sometimes we need to enumerate elements in a loop. We can do this with the for loop.

In [49]:
for i, country in enumerate(countries):
    print(i)
    print(country)

0
United States
1
India
2
China
3
Brazil

## Looping through dictionary elements
We can obtain the key and item separately while looping through a dictionary. We only need to use the .items() method.

In [50]:
for key, value in my_data.items():
    print(key)
    print(value)

## Functions
### Built-In Functions
Python has lots of built-in functions that can help us perform a specific task. Let's have a look at the most common of them.

* range()
* len()
* max()
* min()
* round()
* type()
### How to Create a Function
We can also create our own functions. Let's create a function that sums two values a and b

In [51]:
def sum_values(a,b):
    x = a+b
    return x

In [52]:
sum_values(2,3)

5

## Modules
A module is a file consisting of Python code. A module can contain functions, classes, variables and also runnable code.

We can get access to a Python module with the "import" statement

### OS Module
The OS module comes with Python. It provides functions for interacting with the operating system

In [53]:
import os

In [54]:
os.getcwd()

'C:\\Users\\ABHILASH REDDY\\OneDrive\\edu\\Python DS\\Data-Science-Projects\\Python Basics'

In [55]:
os.listdir()

['.ipynb_checkpoints', 'Python Basics.ipynb']

In [56]:
os.makedirs('New Folder')

In [57]:
os.listdir()

['.ipynb_checkpoints', 'New Folder', 'Python Basics.ipynb']